/* shared style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
    font-weight: 800;
}

/* nav related style */
nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav li:hover {
    background-color: rgb(255, 0, 212);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* header section styles */
.header {
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png'), url('./images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin: 20px 25px;

}

.main-color {
    color: #fd0aa0;
}

.main-btn {
    border-radius: 10px;
    background: #FD6E0A;
    color: #fff;
    border: 0px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 35px;
}

.banner {
    padding: 40px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
}

.cv-btn,
.contact-btn {
    border: 0px;
    border-radius: 5px;
    background: #fa66c9;
    color: #FFF;
    width: 200px;
    height: 60px;
    margin: 10px;
    font-size: 20px;
}

.banner .img {
    width: 600px;

}

.banner-wlc {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-heading {
    font-size: 60px;
    font-weight: 700PX;
    margin-top: 15px;
    margin-bottom: 20px;

}

.banner-paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    margin-top: 130px;
}

/* About Section Style */
.About {
    background: rgb(248, 189, 212);
    padding: 120px;
    border-radius: 10px;
    margin-top: 100px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

/* what i do section */
#what-i-do {
    padding: 30px 150px;
}

/* what i do related styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill-description {
    color: #888787;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styles section */
footer {
    display: flex;
    gap: 100px;
    background: #fff8f3;
    padding: 130px 200px;
    margin-top: 100px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin: 25px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    width: 100%;
}