/* shared style */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* nav related style */
nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

nav li:hover {
    background-color: rgb(255, 0, 212);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

/* header section styles */
.header {
    background-color: #fff8f3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    margin: 20px 25px;

}

.main-color {
    color: #fd0aa0;
}

.main-btn {
    border-radius: 10px;
    background: #FD6E0A;
    color: #fff;
    border: 0px;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner {
    padding: 40px 40px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner .img {
    width: 500px;

}

.banner-wlc {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-heading {
    font-size: 60px;
    font-weight: 700PX;
    margin-top: 15px;
    margin-bottom: 20px;

}

.banner-paragraph {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0px auto;
}

/* About Section Style */
.About {
    background: rgb(248, 189, 212);
    padding: 120px;
    border-radius: 10px;
    margin-top: 100px;
}

.about-info-contener {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
}

/* what i do section */
#what-i-do {
    padding: 30px 150px;
}